//GENERAL-----------------------------------------------------------------------
$warnaUngu : #ac59f9;
.container{
    min-width: 90%;
  //margin: auto;
}
.garis:after{
  padding-bottom: 5px;

  content: '';
  display: block;
  margin:auto;
  height: 4px;
  width: 120px;
  border-bottom: 2px solid #444;
}
.body{
  background: #eee ;font-family: 'Open Sans', sans-serif;
}
.a{
  &:hover{
    text-decoration: none;
  }
}
html, body{
  max-width: 100%;
  overflow-x: hidden;
}
h2 {
  display: table;
  white-space: nowrap;
  border-spacing: 25px 0;
}
h2:before, h2:after {
  content: "";
  display: table-cell;
  width: 50%;
  background: -webkit-linear-gradient(#aaa, #aaa) repeat-x left center;
  background: -moz-linear-gradient(#aaa, #aaa) repeat-x left center;
  background: -ms-linear-gradient(#aaa, #aaa) repeat-x left center;
  background: linear-gradient(#aaa, #aaa) repeat-x left center;
  background-size: 1px 1px;
}
.row {
  vertical-align: middle;
  span{
    font-weight: 800;
  }
  p{
    font-size: 2em;
  }
}
.col{
 height: 300px;
}

.cell{
  //vertical-align: middle;
}
//------------------------------------------------------------------------------

// LAYANAN ---------------------------------------------------------------------
.layanan{
  h3{
    font-weight: 800;
    color: #fff;
  }
  img{
    margin-top: 0px;
    vertical-align: top;
  }
  background: #2e2635;
  .block{
    position: relative;
    height: 400px;
    background: #fff;
    padding-left: 30px;
    padding-right: 30px;
    .caption{
      position: absolute;
      bottom:0px;
      padding: 0 5%;
      width: 90%;
    }
  }
}

//------------------------------------------------------------------------------

// LIHAT-GALERI ---------------------------------------------------------------------
.lihat-galeri{
  p{
    font-weight: 800;
    margin: 0px !important;
  }
  span{
      margin-top: 20px;
  }
  .tombol {
    color: $warnaUngu;
    cursor: pointer;
    display: block;
    font-size:16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 auto 2em;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;
  }
  /*.btn-galeri {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(172, 89, 249, 0);
    outline: 1.5px solid;
    outline-color: rgba(172, 89, 249, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .btn-galeri:hover {
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(172, 89, 249, .5), 0 0 20px rgba(172, 89, 249, .2);
    outline-color: rgba(172, 89, 249, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px $warnaUngu;
  }*/

  .btn-galeri {
      letter-spacing: 0;
  }

  .btn-galeri:hover,
  .btn-galeri:active {
    letter-spacing: 5px;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
  }

  .btn-galeri:after,
  .btn-galeri:before {
    backface-visibility: hidden;
    border: 1px solid rgba(#fff, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
  }

  .btn-galeri:hover:after,
  .btn-galeri:hover:before {
    backface-visibility: hidden;
    border-color: $warnaUngu;
    transition: width 350ms ease-in-out;
    width: 70%;
  }

  .btn-galeri:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
  }
}
//------------------------------------------------------------------------------

// NAVBAR ----------------------------------------------------------------------
.navbar-brand{
  width: 40px;
  height: 40px;
  margin : 5px;
  margin-left: 10px;
  padding: 0;
  border-radius: 5px

}

.navbar-default{
  box-shadow: 0 6px 6px -6px #CCC;
  background-color: white;
  border:10px;
  .navbar-nav>li>a.active{
    color: $warnaUngu;
  }
  .navbar-nav>li>a{
    font-size:13px;
    font-weight: 800;
    color:#444;
    &:hover{
      background-color: inherit;
      color: $warnaUngu;
      font-weight: 800;
    }
  }
  .navbar-toggle {
    border:none;
    outline:none;
    &:focus{
      background-color: transparent;
    }
    .icon-bar{
      background-color: black;
    }
  }
}

.navbar-transparent{
  background: none;
  border:none;
  .navbar-nav>li>a.active{
    color: $warnaUngu;
  }
  .navbar-nav>li>a{
      color: white;
      font-size: 13px;
      font-weight: 800;

      &:hover{
        background-color: inherit;
        color: $warnaUngu;
      }
  }
  .navbar-toggle {
    border:none;
    outline:none;
    &:focus{
      background-color: transparent;
    }
    .icon-bar{
      background-color: white;
    }
  }
}


.navbar-right{
  margin-right: 20px;
}
//------------------------------------------------------------------------------

// CAROUSEL --------------------------------------------------------------------
.carousel{
  height: auto;
  width: 100%;
  display: table;
}

.carousel-inner {
  .img1{
    background: url("../../img/slider/slide1.jpg") no-repeat center center fixed;
  }
  .img2{
    background: url("../../img/slider/slide2.png") no-repeat center center fixed;
  }
  .img3{
    background: url("../../img/slider/slide3.png") no-repeat center center fixed;
  }
  .item{
    height: auto;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
  }
  align-content: center;
}
.carousel-control{
  z-index: 4;
}
.slider{
  .item{
    min-height: 677px;
  }
}

.body-text {
  position: relative;
  z-index: 10;
  padding-top: 7rem;

  h1 {
    font-family: sans-serif;
    letter-spacing: 0.1rem;
    padding-top: 2rem;
  }

  p {
    font-size: 1.2rem;
    font-family: sans-serif;
    color: #777;
    padding: 2rem 0;
    line-height: 2rem;
  }
}
//------------------------------------------------------------------------------

// STATIC TEXT CAROUSEL---------------------------------------------------------
.intro{
  width: 100%;
  padding: 100px 0;
  display:table;
  height:auto;
  text-align:center;
  color:#fff;
  position: absolute;
  padding: 100px 0;
  z-index: 3;
}
.intro .intro-body{
  padding-top: 100px;
  display:table-cell;
  vertical-align:middle;
}
.intro-body .brand-heading{
  font-size:40px;
}
.intro-body .intro-text{
  font-size:18px;
}
@media (min-width:768px){
  .intro{
    margin-top: 10px;
    height:100%;
    padding:0;
  }
  .intro .intro-body .brand-heading{
    font-size:100px;
  }
  .intro .intro-body .intro-text{
    font-size:26px;
  }
}

.btn-circle{
  align-items:center;
  align-content: center;
  width:70px;
  height:70px;
  margin-top:15px;
  padding:16px 16px;
  border:2px solid #fff;
  border-radius:100%!important;
  font-size:40px;
  color:#fff;
  background:0 0;
  -webkit-transition:background .3s ease-in-out;
  -moz-transition:background .3s ease-in-out;
  transition:background .3s ease-in-out;
}
.btn-circle:focus,.btn-circle:hover{
  outline:0;
  color:#fff;
  background:rgba(255,255,255,.1);
}
.btn-circle i.animated{
  -webkit-transition-property:-webkit-transform;
  -webkit-transition-duration:1s;
  -moz-transition-property:-moz-transform;
  -moz-transition-duration:1s;
}
.btn-circle:hover i.animated{
  -webkit-animation-name:pulse;
  -moz-animation-name:pulse;
  -webkit-animation-duration:1.5s;
  -moz-animation-duration:1.5s;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -moz-animation-timing-function:linear;
}
@-webkit-keyframes pulse{
  0%,100%{
    -webkit-transform:scale(1);
    transform:scale(1);
  }
  50%{
    -webkit-transform:scale(5);
    transform:scale(5);
  }
}
//------------------------------------------------------------------------------

// MIDDLE PARALLAX--------------------------------------------------------------
.parallax {
height: 300px;
background-attachment: fixed;
background-size: cover;
background-position: 70% 50%;
}
.paralsec1 {
background-image: url("../../img/parallax-mid.jpg");
height: 500px;
}
//------------------------------------------------------------------------------

// TESTIMONI--------------------------------------------------------------------
.testimonial{
  padding-top: 50px;
  padding-bottom:50px;
  h1{
    font-weight: bold;
    margin-bottom: 20px;
  }
  .lead{
    line-height: 2em;
    margin-bottom: 10px
  }
  span{
    font-size: 18px;
    font-weight: bold;
    color:$warnaUngu;
  }
  .testi{
    min-height: 100px;
  }
  .carousel-indicators{
    position: static;
    width: 100%;
    margin-left: auto;
    padding-top: 20px;

    li{
        text-indent: 0;
        width: 80px;
        height: 80px;
        opacity: 0.4;
        border-radius: 50%;
        overflow: hidden;
        margin: 5px;
        -o-transition: all 0.5s ease;
    		-moz-transition: all 0.5s ease;
    		-ms-transition: all 0.5s ease;
    		-webkit-transition: all 0.5s ease;
    		transition: all 0.5s ease;


        img{
          max-width: 100%;
        }
    }
    .active{
      opacity: 1;
      background: none;
      border: 3px solid $warnaUngu;
    }
  }

}

// GALERI-----------------------------------------------------------------------
.col-md-4, .col-sm-6{
  //padding-left: 0px;
  //padding-right: 0px;
  //margin: 7.5px;
}

.img-wrapper
{
  align-items:center;
  height: 255;
  //position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  .overlay{
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 15;
    top: 0;
    bottom: 0;
    right: 15;
    opacity: 0;
    padding-left: 0px;
    padding-left: 0px;
    margin: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    .fa{
      position: relative;
      font-size: 3em;
      font-weight: lighter;
      color: #f99a00;
    }
    div{
      position: absolute;
      bottom: -20px;
      left: 0;
      text-align: center;
      width: 100%;
      -webkit-transition: 0.8s, ease-out;
      -o-transition: 0.8s, ease-out;
      transition: 0.8s, ease-out;
    }
  }
  a{
    img{
      flex-shrink: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &:hover{
    .overlay{
      opacity: 1;
      h4{
        color: #fff;
      }
      div{
        bottom: 20px;
      }
    }
    img{
      box-shadow: 0 0 7px rgba(0,0,0, 0.5);
      transition: all .3s ease-in-out;
      transform: scale(1.5) rotate(5deg);
    }
  }
}
//--------------------------------------------------------------------------------

//KONTAK -----------------------------------------------------------------------
.kontak{
  padding-bottom: 30px;
}

.col-md-4,.col-sm-6{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  border-radius: 50%;
  position: relative;
  width: 200px;
  height: 200px;
  color: #fff;
  transform-style: preserve-3d;
  transition: 1s ease;
  box-shadow: 0 5px 5px rgba(0,0,0,.5);
  .card-back{
    padding: 0 10px;
  }
}

.card-front, .card-back{
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  backface-visibility: hidden;
  color: #fff;
}

.card-front{
  font-size: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
  .fa{
    color: #fff;
  }
}
.card-back{
  font-size: 22px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}
.card:hover{
  transform: rotateY(180deg);
  .a{
    text-decoration: none;
  }

}
.card-back{
  transform: rotateY(180deg);
}
.facebook{
  background: #3b5998;
}
.no-hp{
  background: #33b5e5;
}
.no-wa{
  background: #25D366;
}
.instagram{
  background: #e4405f;
}
//------------------------------------------------------------------------------

// PESAN -----------------------------------------------------------------------


// FOOTER ----------------------------------------------------------------------
#footer {
	//position: relative;
	background-color: #EEE;
	border-top: 5px solid rgba(0,0,0,0.2);
  background: url("../../img/footer-bg.jpg") repeat fixed ;
  background-size: 100% 100%;
}
.dark #copyrights {
    background-color: rgba(0,0,0,0.8);
    color: rgba(255,255,255,0.25);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}



#footer .footer-widgets-wrap {
	position: relative;
	padding: 80px 0;
}

#copyrights {
	padding: 40px 0;
	background-color: #DDD;
	font-size: 14px;
	line-height: 1.8;
}

.copyright-links {
  a {
    display: inline-block;
    margin: 0 3px;
    color: #555;
    border-bottom: 1px dotted #444;
    &:hover{
      color: #fff;
      text-decoration:none;
    }
  }

}

.copyrights-menu { margin-bottom: 10px; }

.copyrights-menu a {
	font-size: 14px;
	margin: 0 10px;
	border-bottom: 0 !important;
}

#copyrights .col_half { margin-bottom: 0 !important; }

#copyrights a:first-child { margin-left: 0; }

#copyrights .tright a:last-child { margin-right: 0; }

.footer-logo {
	display: block;
	margin-bottom: 30px;
}
//------------------------------------------------------------------------------

//GOTOP ------------------------------------------------------------------------
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: $warnaUngu;
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: $warnaUngu;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
//------------------------------------------------------------------------------

// BLOG-------------------------------------------------------------------------

.judul-blog{
  margin-bottom: 5px;
  font-size: 40px;
  color: red;
  font-weight: bold;
}
.img-article{
  max-height:400px;
  margin: 0 auto;
}
.blog-post{
  margin-top: 20px;
  p{
    margin-left: 70px;
    margin-right: 70px;
  }
}
.blog-main{
  margin-top: 50px;
  padding-bottom: 10px;
}
.bordered:after{
  content:'';
  display:block;
  width:80%;
  position:absolute;
  bottom:0;
  left:50%;
  margin-left:-40%;
  height:3px;
  background:-webkit-radial-gradient(center, ellipse, rgba(0,0,0,0.2) 0, rgba(255,255,255,0) 75%);
  background:radial-gradient(ellipse at center, rgba(0,0,0,0.2) 0, rgba(255,255,255,0) 75%);
}
//------------------------------------------------------------------------------

//MEDIA QUERIES-----------------------------------------------------------------
@media only screen and (max-width : 767px) {

  .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    margin-left: 0;
  }

  .no-hp,.no-wa{
    transform: rotateY(180deg);
    .card-front{
      transform: rotateY(180deg);
      align-items: baseline;
      padding-top: 20px;
      .fa{
        font-size: 50px;
      }
    }
  }

	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}
@media (min-width: 992px){
  .container {
      width: 970px;
  }
}
@media only screen and (max-device-width: 1024px) {
    .carousel-inner {
      .item{
        background-attachment: scroll;
      }
    }
}
//------------------------------------------------------------------------------
